# Sub-repositórios (cada um é um git repo independente)
repos/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp

# Claude Code
.claude/

# Arquivos de contexto/referência local
docs/context/
docs/images/

# Venv playwriht
playwright-venv/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
